.container {

  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  cursor: pointer;

  border-radius: 20px;

  :global {

    display: grid;
    grid-template-columns: 2fr 1fr;

    .info {
      display: flex;
      flex-direction: column;
      gap: 25px;


      h2 {
        text-align: left;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
      }

      p {
        text-align: left;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .image {

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 200px;
        width: unset;
      }

    }

  }
}
